<!DOCTYPE html>
<html>
<head>
    <title>Poll Page</title>
</head>
<body>
    <h1>Poll Page</h1>
    <div class="poll-container">
    {% for poll in polls %}
        <form action="/vote" method="post">
            <h2>{{ poll['title'] }}</h2>
            {% for option in poll['options'] %}
                <label>
                    <input type="radio" name="{{ poll['title'] }}" value="{{ option }}">
                    {{ option }}
                </label><br>
            {% endfor %}
            <br>
        {% endfor %}
        <button type="submit">Vote</button>
        </form>
    </div>
</body>
</html>
